<% include partials/header %>
<div class="container">
  <div class="col-md-8">
    <h1>Reset Password</h1>
    <form action="/forgot" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input class="form-control" type="email" name="email" placeholder="email">
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<% include partials/footer %>
